.field {
  text-align: center;
  width: 150px;
  margin: 10px auto;
  background: #fc0;
  border: 5px solid #fc0;
  outline: 2px solid #000;
  border-radius: 10px;
}
.fieldStop {
  text-align: center;
  width: 150px;
  margin: 10px auto;
  background: #ff0000;
  border: 5px solid #ff0000;
  outline: 2px solid #000;
  border-radius: 10px;
}

.counterField {
  width: auto;
  margin: 10px;
  color: red;
  background: #ffffff;
  border: 5px solid #ffffff;
  outline: 2px solid #000;
  border-radius: 10px;
}
.buttonField {
  width: auto;
  margin: 10px;
  background: #ffffff;
  border: 5px solid #ffffff;
  outline: 2px solid #000;
  border-radius: 10px;
}